// ---- .food-list start ----
.food-list {
  &-search-input {
    width: 100%;
  }

  &-responsive {
    display: inline;
  }

  &-grams-input {
    width: 55px;
  }

  // tablet i veci
  @media screen and (min-width: $medium-screen) {
    &-category-select {
      width: 50%;
    }
  }

  // phone i manji
  @media screen and (max-width: $small-screen) {
    &-table {
      width: 95% !important;
      padding-left: 5% !important;
    }
    &-search-input {
      padding-right: 2rem;
    }
  }
}
// ---- .food-list end ----

// tablet i veci
@media screen and (min-width: $medium-screen) {
  .ui.table {
    border-left: 0px !important;
    border-right: 0px !important;
  }

  .ui.table tr td {
    border-left: 0px !important;
  }
  .ui.table tr th {
    border-left: 0px !important;
  }
}

.ui.grid > .row > .column {
  position: relative;
  display: inline-block;
  //width: 6.25%;
  padding-left: 2rem !important;
  padding-right: 0.6rem !important;
  vertical-align: top;
}

.pagination {
  text-align: center;
}
