.plate {
  &-background {
    background-image: url("/img/plate.png");
    max-width: 800px;
    height: 580px;
    margin-bottom: 1.45rem;
    background-size: cover;
    background-position: bottom center;
  }

  &-content {
    margin-top: 180px;
    margin-left: 220px;
    margin-right: 190px;
    text-align: center;
    height: 200px;
    overflow-y: auto;
  }

  // tablet i manji
  @media screen and (max-width: $medium-large-screen) {
    &-background {
      background-image: url("/img/plate.png");
    }
    &-content {
      margin-left: 180px;
    }
  }

  &-font-size {
    font-size: 10pt;
  }

  &-content-sm {
    border: 1px solid;
    border-radius: 2%;
    border-color: $divider;
    text-align: center;
    height: 200px;
    overflow-y: auto;
    margin: 20px 15px 20px 0px;
  }
}
